# Dependencies
node_modules/
src-backend/node_modules/

# Builds
/dist/
src-backend/dist/
/tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# Local overrides
*.local

# Coverage
coverage/
